{% extends "base.html" %}
{% load i18n %}
{% load cms_tags sekizai_tags %}
{% load menu_tags %}
{% block "content" %}
		<div class="content_wrap">
			<div class="content">
				<article role="main" class="article_page">
					<div class="page">
						<header class="header_page">
							<h1>{% page_attribute "page_title" %}</h1>
						</header>
					<!-- Main content start -->
						{% block "main" %}
						<div class="featured_image">
							{% placeholder "featured_image" %}
						</div>
						{% placeholder "main" %}
						{% endblock %}
						<!-- Main content end -->
					</div>	
				</article>
				<aside class="aside_site">
					<!-- Sidebar start -->
					{% block "sidebar" %}
					<nav class="nav_sidebar">
						{% with root=request.current_page.get_root %}
						<h2><a href="{% page_url root %}">{% page_attribute "page_title" root %}</a></h2>
						<ul>
							{% show_menu_below_id root.reverse_id 0 100 100 100 %}
						</ul>{% endwith %}
					</nav>
					{% placeholder "sidebar" %}
					{% endblock %}
					<!-- Sidebar end -->
				</aside>
			</div>
		</div>
{% endblock %}

